.back{background-image:url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png');background-size:cover;height:200vh}
.light{color:white;}
.padn{padding:20px}
.marg{margin:15px}
.margin{padding:18px;border-radius:12px}
.cor{border-radius:12px;}
.ph{width:300px;margin:auto}
